/* Fondo oscuro */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
  pointer-events: all;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--threeColor--);
  height: 620px;
  width: 40%;
  border-radius: 12px;
  z-index: 11;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}
.headed{
    padding-top: 5%;
    background: var(--oneColor--);
    color: var(--threeColor--);
    width: 100%;
    height: 20%;
    border-radius: 12px 12px 0px 0px;
}

.create-btn {
  top: 90%;
  left: 30%;
  border-radius: 5px;
    background: transparent;
    color: var(--twoColor--);
    border: var(--eightColor--) 1px solid;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  padding: 5px;
}.create-btn:hover{
  background: var(--eightColor--);
}
.close-btn {
  top: 90%;
  left: 43%;
  background: transparent;
  border-radius: 5px;
  color: var(--sevenColor--);
  border: var(--nineColor--) 1px solid;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  padding: 5px;
}.close-btn:hover {
    background: var(--nineColor--);
}

.close-btn-m {
  top: 90%;
  left: 55%;
  background: transparent;
  border-radius: 5px;
  color: var(--sevenColor--);
  border: var(--nineColor--) 1px solid;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  padding: 5px;
}.close-btn-m:hover {
    background: var(--nineColor--);
}


.imputsComtem{
  display: grid;
 padding: 5% ;
 row-gap: 12%;
}


:deep(.q-table tbody td.text-center:nth-child(3)) {
  max-width:250px; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contemInputs {
  width: 80%;
  margin-left: 11%;
  padding-top: 4%;                
}

.LP{
position: absolute;
  margin-left: 30%;
  margin-top: -2.5%;
}
.IA{
    position: absolute;
  margin-left: 40%;
    margin-top: -2.5%;
}
.infoN,.infoA{
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.16);
    padding: 2%;
    border-radius: 10px;
    
}