*{
    margin: 0%;
    border: 0%;
}
.q-pa-md{
    padding: 0%;
    
}
.contemC{
    min-height: 100vh;
    margin-top: 7%;
    margin-left: 4%;
    padding: left 3% ;
    padding: 2%;
}

.q-toolbar{
    background-color: var(--oneColor--);
}
.LSB{
 margin: 15px;
 width: 5%;
}
.box{
    background:var(--threeColor--);
    width: 320px;
    height: 350px;
    margin-top: 3%;
    margin-left: 5%;
    padding: 0;
    box-shadow: rgb(26, 26, 26) 0px 0px 15px 1px;
}
.encabesado{
    background: var(--oneColor--);
    color: var(--threeColor--);
    width: 100%;
    height: 95px;
    border: none;
    margin-top:-255px;
}
.IMGP{
    position:absolute;
    margin-top: 25%;
    max-width: 250px;
}
.profile-fixed {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: inherit;
}
.profile-fixed {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.LSB {
  width: 65px;
  height: auto;
  margin-right: 10px;
  margin-left: -98.5%;
}
.profile-fixed {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.Ncom{
  position: absolute;
  margin-top: 4%;
  margin-left: 8.6%;
}
.name{
  position: absolute;
  margin-top: -3.5%;
  margin-left: 8%;
  font-weight: 900; 
  display: inline-block;
  transform: scaleX(1.8) scaleY(1.4); 

}

.iconP{
background: var(--oneColor--);
margin-left: 32%;
color: var(--white--);

}

