.container{
  width: 100%;
  height: 100vh;
  background:var(--threeColor--) ;
  display: grid;
  grid-template-rows: 30% 70%;
}
.design{
  width: 100%;
  height: 120px;
  border-radius: 9px 9px 0px 0px;
  color: var(--threeColor--);
  background: var(--oneColor--);
}
.contemLogin {
  position: fixed;
  background-color:var(--threeColor--);
  color: var(--oneColor--);
  width: 30%;
  height: 600px;
  margin-top: 4%;
  margin-left: 35%;
  border-radius: 10px;
  box-shadow: rgb(26, 26, 26) 0px 0px 40px 10px;
}
.questions{ 
  width: 100%;
  height: 400px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


.inpt{
    width: 80%;
    margin-left: 10%;
}
.inpt2{
    width: 80%;
    margin-left: 10%;
}
.selec1{
     width: 80%;
    margin-left: 10%;
}
.button{
    background-color:var(--oneColor--);
    color: white;
}
.LS{
  margin: 10px;
  width: 20%;
}
.titleImportant{
  position: absolute;
  margin-left: 39%;
  margin-top: 1%;
  font-weight: 900; 
  display: inline-block;
  transform: scaleX(1.9) scaleY(1.5); 
}
.Ncom{
  position: absolute;
  margin-top: 18%;
  margin-left: 30%;
}
.RC{
  color: var(--gray--);
  cursor: pointer;
}.RC:hover{
  color: var(--oneColor--);
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  z-index: 998;
}


.modal {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  width: 700px;
  height: 350px;
  border-radius: 10px;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.3);
  z-index: 999;
  overflow: hidden;
}


.modal-header {
  background-color: var(--oneColor--);
  color: var(--white--);
  text-align: center;
  padding: 15px;
  position: relative;
}

.modal-header h2 {
  font-size: 20px;
  margin: 0;
}

.logoSena {
  position: absolute;
  right: 15px;
  top: 10px;
  width: 60px;
}

.modal-body {
  text-align: center;
  padding: 20px;
}

.input-modal {
  width: 80%;
  margin: 0 auto;
}

.textInfo{
  font-size: 13px;
  margin-top: 10px;
}


.modal-actions {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px 20px;
}

.openBTN{
   background: transparent;
    color: var(--twoColor--);
    border: var(--eightColor--) 1px solid;
}.openBTN:hover{
background: var(--eightColor--);
}
.closeBTN{
 border-radius: 5px;
  color: var(--sevenColor--);
  border: var(--nineColor--) 1px solid;
}.closeBTN:hover{
 background: var(--nineColor--);
}

@media (max-width: 1329px) {
.titleImportant{
  margin-left: 35%;
}
.Ncom{
  position: absolute;
  margin-left: 26%;
}

.contemLogin {
  position: fixed;
  background-color:var(--threeColor--);
  color: var(--oneColor--);
  width: 40%;
  height: 600px;
  margin-top: 4%;
  margin-left: 30%;
  border-radius: 10px;
  box-shadow: rgb(26, 26, 26) 0px 0px 40px 10px;
}

}