.inf{
    display: grid;
    color: var(--oneColor--);
    grid-template-columns: 50% 50%;
    width: 80%;
    margin-left: 9%;
    height: 90px;
    border-radius: 10px;
     box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}
.mInfo{
margin-left: 11%
}
.tInfo{
margin-top:0%;
font-size:large;
margin-left: 2%;
color: var(--oneColor--);

}
.alerts{
  margin: 2%;
}
.contemAlerts{
    width: 80%;
    margin-left: 9%;
    margin-top: 2%;
    border-radius: 10px;
    height: 60vh;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    padding-top: 2%;
    overflow-y:auto ;
    scrollbar-width:thin;         
    scrollbar-color:transparent;
}

.alertCard {
  background: var(--White--);
  box-shadow: rgb(6, 6, 6) 0px 0px 10px 0px;
  position: relative;
  padding: 12px;
  margin-bottom: 2%;
  border-radius: 6px;
  width: 70%;
  height: 130px;
  margin-left: 13%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.alertCard:hover {
  transform: scale(1.03); /* crece un poco */
/*   box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 20px; */
}

.alertCard h4 {
  margin: 0;
  font-weight: 700;
}

.alertCard small {
  color: #777;
}

.noAlerts {
  text-align: center;
  color: #999;
  margin-top: 20px;
}

.date {
  position: absolute;
  top: 12%;
  left: 80%;
  font-size: 12px;
  color: #999;
}