

.contenedorCajas{
  width: 100%;
  display: grid;
  grid-template-columns: 40% 40%;
  padding-left: 10%;
  gap: 5%;
}
.cajaNueva,.cajaUsuario{
  border: var(--gray--) 1px solid;
  padding: 5%;
  border-radius: 8px;
  box-shadow: var(--gray--) 0px 5px 5px 5px;
  background: var(--white--);
}




*{
  margin: 0;
  padding: 0;
}


.encabezado {
  background: var(--oneColor--);
  color: var(--threeColor--);
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.imgLS {
   width: 80px;
    top: 1%;
    left: 90%;
  position: static; /* evita que se salga del flujo */
}

.encabezado{
    background: var(--oneColor--);
    color: var(--threeColor--);
    padding-left: 30px;
}

.contenedorRestablecer {
  background-color: var(--threeColor--);
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
}


.buscarCorreo {
  margin: 30px 0;
  text-align: center;
}

.inputBuscar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.inputBuscar input {
  width: 250px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btnBuscar {
  background-color: #39a900;
  color: white;
  padding: 8px 18px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.btnBuscar:hover {
  background-color: #2e8500;
}



.campo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #e8e8e8;
  margin: 10px 0;
  padding: 5px 10px;
  border-radius: 5px;
}

.campo i {
  color: gray;
}

.campo input {
  border: none;
  background: transparent;
  width: 100%;
  margin: 0 10px;
  outline: none;
  color: #555;
}

.campo input:disabled {
  color: #777;
}

.candado {
  margin-left: auto;
}

.cajaNueva p {
  font-size: 14px;
  margin-bottom: 20px;
}

.botones {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 25px;
}

.btnCerrar {
    background: transparent;
   color: var(--sevenColor--);
  border: var(--nineColor--) 1px solid;
  padding: 8px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}.btnCerrar:hover{
   background: var(--nineColor--);
}

.btnRestablecer {
     background: transparent;
    color: var(--twoColor--);
    border: var(--eightColor--) 1px solid;
  padding: 8px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.btnRestablecer:hover {
  background: var(--eightColor--);
}
