.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
  pointer-events: all;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--threeColor--);
  height: 550px;
  width: 50%;
  border-radius: 12px;
  z-index: 11;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.close-btn {
  top: 86%;
  left: 44%;
  background: transparent;
  border-radius: 5px;
  color: var(--sevenColor--);
  border: var(--nineColor--) 1px solid;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  padding: 5px;
}.close-btn:hover {
    background: var(--nineColor--);
}

.close-btn-m {
  top: 90%;
  left: 55%;
  background: transparent;
  border-radius: 5px;
  color: var(--sevenColor--);
  border: var(--nineColor--) 1px solid;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  padding: 5px;
}.close-btn-m:hover {
    background: var(--nineColor--);
}

.create-btn {
  top: 90%;
  left: 30%;
  border-radius: 5px;
    background: transparent;
    color: var(--twoColor--);
    border: var(--eightColor--) 1px solid;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  padding: 5px;
}.create-btn:hover{
  background: var(--eightColor--);
}

.headed{
    padding-top: 2%;
    background: var(--oneColor--);
    color: var(--threeColor--);
    width: 100%;
    height: 15%;
    border-radius: 12px 12px 0px 0px;
}

.contemInputs {
  margin-left: 3%;
  padding-top: 4%;                
}

.infoP,.infoC {
  margin: 0%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.16);
  padding: 1%;
  border-radius: 10px;
  width: 44%;
}
.infoL{
  position: absolute;
  margin-top: -43%;
  margin-left: 44%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.16);
  padding: 2%;
  border-radius: 10px;
  width: 50%; 
  height: 323px;
}

.contemInputs-1{
  padding: 2%;
  padding-top: 10%;
}

.name,.rol,.phone,.identification,.gmail,.Cp,.password,.area{
  width: 70%;
  border-radius: 10px;
 margin: 1%;
 margin-left: 15%;
}

.LP{
position: absolute;
  margin-left: 31%;
  margin-top: 0.3%;
}

.IA{
position: absolute;
  margin-left: 41%;
  margin-top: 0.3%;
}




